.topbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
  }
  .topbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .topbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .topbar a.active {
    background-color: #e04700;
    color: white;
  }
  ul{
    width: auto;
    float: left;
    width: 100%;
  }
  li{
    display: inline-block;
  }